.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before  {
  background: #484848 !important;
}

.parent {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}